/* General Body Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
    display: flex;
    flex-direction: column;
}

/* Header */
.header1 {
    background-color: #d9d9db; 
    color: #4d4d00; /* Dark yellowish text color */
    padding: 1rem;
    text-align: left;
    font-size: 12px;
    font-family: 'Georgia', serif;
}
.search-container {
    position: absolute;
    top: 40px;
    right: 20px;
    display: flex;
    align-items: center;
}

.search-container input {
    padding: 0.5rem;
    margin-right: 10px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.search-container button {
    padding: 0.5rem;
    background-color: #03dac5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-container button:hover {
    background-color: #018786;
}

/* Container holding both Sidebar and Main content */
.container {
    display: flex;
    margin-top: 20px;
    width: 100%;
    flex-grow: 1;
}

/* Left Sidebar */
.sidebar {
    width: 250px;
    background-color: #ffffff;
    padding: 1rem;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    height: 100vh;
    overflow-y: auto;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    margin: 10px 0;
}

.sidebar ul li a {
    text-decoration: none;
    color: #6200ea;
    font-weight: bold;
    cursor: pointer;
}

.sidebar ul li a:hover {
    color: #03dac5;
}

/* Main content area where books will be displayed */
main {
    margin-left: 260px; /* Offset the main content so it's to the right of the sidebar */
    padding: 1rem;
    flex-grow: 1;
    overflow-y: auto;
}

#searchResults {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 1rem;
}

/* Right Sidebar for Filters */
.filters {
    width: 200px;
    padding: 1rem;
    background-color: #ffffff;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    margin-left: 20px;
}

.filters h3 {
    margin-bottom: 1rem;
}

.filters select {
    width: 100%;
    padding: 0.5rem;
    margin-top: 10px;
}

/* Book Results Styling */
.book {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 1rem;
    text-align: center;
}

.book img {
    max-width: 100%;
    border-radius: 5px;
}

.book h3 {
    font-size: 1.2rem;
    margin: 0.5rem 0;
}

.book p {
    margin: 0.5rem 0;
    color: #666;
}


/* Book Details Page Styling */
#bookDetails {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#bookDetails h2 {
    font-size: 2rem;
    color: #333;
}

#bookDetails h3 {
    font-size: 1.5rem;
    color: #555;
}

#bookDetails img {
    width: 100%;
    max-width: 300px;
    height: auto;
    margin: 20px 0;
}

#bookDetails p {
    font-size: 1.1rem;
    color: #444;
}

